---
{
   "title": "Jerkll Demo",
   "author": "Jordan Eldredge",
   "author_website": "http://jordaneldredge.com"
}
---
<html>
<head>
    <title><%- page_title %> - <%- title %></title>
    <link href="<%- _asset('/css/style.css') %>" rel="stylesheet">
</head>
<body>
  <div class='container'>
    <h1><%- title %></h1>
    <nav class="site-nav right">
      <a href='<%- _page('') %>'>Home</a> | <a href='<%- _page('markdown-examples') %>'>Markdown Examples</a> | <a href='<%- _page('author') %>'>Author</a>
    </nav>

    <div class="content">
      <%= _content %>
    </div>

    <footer class="footer">
      <p>
      <small>&copy; <a href='<%- author_website %>'><%- author %></a></small>
      </p>
    </footer>
  </div>
</body>
</html>
